*{
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', Arial, sans-serif;
}
body{
   
    background: black;
    color:#ffff;
    font-size:12px;    
    /* 0.75rem */
    
}

.container{
display: flex;
flex-direction: column;
justify-content: space-between;
height:100%;
margin: 0 auto;
max-width: 1600px;
width: 100%;
}

img{
    height:auto;
    max-width: 100%;
}

.nyt-logo{
    align-content: center;
  
    display: flex;
    
    flex-wrap: wrap;
    height: 100%;
    
    justify-content: center;
    padding: 2rem;
}

.logo{
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    width: 300px;
    margin-top: 171px;
    margin-left: 16px;
    margin-right: 78px;
}

.select-section{
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    margin-right: 53px;
}
.select-menu{
    margin-top: 16px;
}
.footer p{
color:#c2c2c2;
font-size: 12px;
margin-bottom: 3rem;
text-align: center;
padding: 0 2rem;
margin-bottom: 27px;
margin-top: 43px;
margin-right: 60px;
}

.footer p span{
    text-transform: uppercase;
}

@media only screen and (min-width:600px ) {
body{
    font-size: 9px;
    font-size: .9rem;
}
    .nyt-logo{
        align-items: center;
        width: 100%;
        margin-top: 109px;
    }
.logo{
    flex: 0 1 25%;
    margin: 0 1rem 0 0;
    text-align: left;
    max-width: 250px;
}

.select-section{
    flex: 0 1 75%;
    text-align: left;
    max-width: 250px;
}

.bckg-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:300px; 
    flex: 1 0 25%;
    width:50%;
    /* width: 200vw;
    height: 200vh; */
    background-position: 50%;
    background-size: cover;
}
.footer{
    margin-top: 72px;
    
}

.footer p{

    font-size: 15px;
}

}