*{
    box-sizing: border-box;
    outline: none;
}


html{
    font-family: Open Sans,sans-serif;
}
body{
    background:$bck-color;
    color:$text-color;
    font-size : $text-size; 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: $height;
    margin: 0 auto;
    max-width: 1600px;
    width: $width;
    overflow: auto;
    transition: all 1s;

}

    
img{
    height:auto;
    max-width: $width;
}

.nyt-logo{
    overflow: hidden;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    transition: all 1s;

    &.active {
     
        .logo {
            margin: 0 0 10px 0;
            height: 70px;
        
            img {
                width: auto;
                height: 100%;
            }
        }
      }
    @include tablet {
       
        align-items: center;
        align-items: center;
        width:$width;
        margin-top: 35vh;
        

        &.active {
             margin-top: 0vh;
                
                 }
     }
    @include desktop {
       justify-content: flex-start;
        width:$width;
      
        &.active {
            margin-top: 0;
          
        }
    }
   
}

.logo{
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    width: 300vw;
    margin: 60px 0px 1rem 0px;
    transition: all 1s;

    @include tablet {
       
      @include base-logo;
    

    }
    @include desktop {
       
        @include base-logo;
      

    }
   
}

.select-section{
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    width: $width;
    @include tablet {
       
        @include base-selection;

    }
    @include desktop {
       
        @include base-selection;

    }
   
}
.selected-list{
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: $width;
}
@include desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: $width;
}
}

.select-menu{
    margin-top: 16px;
    cursor:pointer;
}

select:focus {
    outline:none;
    cursor:pointer;
}


.loader-container{
    display: none;
    height: $height;
    width: 100vw;
    position: absolute;
}
.loader{
    
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-loader{
    width: $width/10;
   
}
a{
    text-decoration: none;
}

.bckg-img {
    background-size: cover;
    background-position: 50% 50%;
    height:100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    @include tablet {
       
       @include base-backimage;
        p{
            color:$text-color;
            line-height: 1.6rem;
            text-align: center;
         
        }

    }
    @include desktop {
     
        @include base-backimage;
     p{
           color:$text-color;
           line-height: 1.6rem;
    }
    }
}


.result-data{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        height:420px;
    .abstract{

        background: rgba(0,0,0,.6);
        bottom: 0;
        color: $text-color;
        position: absolute;
        transition: transform  0.8s;
    }
    &:hover{
        .bckg-img{
        
           transform:scale(1.2);
        }
        .abstract{
           transform: translateY(0);
        }
    }
        
    @include tablet {
        flex: 0 1 50%;
        max-width: 50%;
        position: relative;
     .abstract{

        @include base-abstract;
        }
    }
    @include desktop {
        flex: 0 1 25%;
        position: relative;
        
     .abstract{
        @include base-abstract;
        transform:translateY(100%);   
        }  
    }
}


.footer-section{
   
    @include tablet{
        position:relative;
    }
}

.footer {
    p{
        color:$footer-text;
        font-size: 12px;
        margin-bottom: 3rem;
        text-align: center;
        padding: 0 2rem;
        margin-top: 43px;
  span{
        text-transform: uppercase;
    }
}  
   @include tablet {
        
    }
   @include desktop {
        margin: 44px;
        padding-top: 33px;
      p{
        text-align: left;
        font-size: 15px;
    }
}
}

